  *{
    box-sizing: border-box;
  }
  body{
    margin: 0;
  }
  .navbar{
    background-color: #27B5A9 !important;
  }
  .nav-link{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px !important;
    padding-left: 10px !important;
}
.nav-link:hover{
    font-weight: bold;
}
  .navbar-toggler-icon{
    color: #fff;
  }
  .navbar-brand img{
    height: 28px;
  }
  .top{
    background-color: #27B5A9;
    width: 100%;
    padding-bottom:50px; 
  }
  .text{
    font-size: 25px;
    text-align: center;  
    margin-top:50px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif !important;
    text-transform: capitalize;
    text-shadow: 2px 2px #b2bec3;
  }
  .info{
    height: 100%;
    width: 85%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  h6{
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: 600;
    color: #636e72 !important;
  }
  #box1{
    width:100%;
    height: 100%;
  }
  .book-now .btn{
    background-color: #27B5A9;
    border: none;
    border-radius:0px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  #book-now .btn:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  h3,p{
    font-family: 'Times New Roman', Times, serif !important;
  }
  #box2{
    width:100%;
    height: 100%;
    font-size: 23px;
    padding: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif !important;
    }
  .footer {
    background: #2d3436;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    box-shadow:1px 1px 8px #636e72;
  }
    #footer{
    padding-top:50px;
    padding-bottom:30px;
  }
  .info-2{
    width: 100%;
    padding: 40px;
    background-color: #dfe6e9;
  }
  .box-1{
    height: 100%;
    width: 100%;
    background-color:#fff; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding-bottom: 20px;
  }
  ul li{
    font-family: 'Times New Roman', Times, serif !important;
  }
  h5{
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: 600;
    color: #636e72;
  }
  ul{
    list-style: none;
  }
  li::before {
    content: "•"; color: #27B5A9;
    display: inline-block; width: 1em;
    margin-left: -1em
  }
  .vl {
    border-left: 1px solid #27B5A9;
    height: 5pxpx;
    }
  hr{
    background-color:#40407a !important;
  }
  #footer p{
    text-align: center;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
  }
  form label{
    text-align: center;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;   
    }
  form .btn{
    background-color: #27B5A9;
    border: none;
    border-radius:0px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
  .form-control{
      border-radius:0px !important; 
    }
  ul li a{
    color: #f7f1e3;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px !important;
  }
  .footer-v ul li{
    padding-top: 8px !important;
    padding-left:31% !important; 
  }
  ul li a:hover{
    text-decoration: none;
  }
@media only screen and (max-width: 600px) {
  .footer-v ul li{
      padding-left:0 !important; 
  }
  .footer-v h6{
      padding-top: 15px;
      text-align: left !important;
    }
  }
  @media only screen and (max-width: 600px) {
      .middle{
        text-align: unset !important;
      }
  }
  /*follow us*/
  .middle{
     
      width: 100%;
      text-align: right;
    }
    .middle .btn{
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #f1f1f1;
      margin: 10px;
      border-radius: 30%;
      box-shadow: 0 5px 15px -5px #00000070;
      color: #3498db;
    }
    .middle .btn i{
      line-height: 28px;
      font-size: 14px;
      transition: 0.2s linear;
    }
    .middle .btn:hover i{
      transform: scale(1.3);
      color: #27B5A9;
    }
    #image1{
      background-image: url("event.jpg");
      background-color: #cccccc;
      height: 400px;
      background-attachment: fixed;
      background-size: cover;
      padding-top: 75px;
  }
  #faq{
      height: 100%;
      background-color: #dfe6e9;
      padding-bottom: 40px;
      padding-top: 40px;
  }
  #faq p{
      font-family: 'Times New Roman', Times, serif;
      text-align: justify;
  }
  #wedding-info{
      height: 250px;
      width: 70%;
      margin: 0 auto;
      background-color: #D9F7BF;
      box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.5);
     
  }
  #text5{
      padding: 50px;
  }
  .btn:hover{
    color: #27B5A9 !important;
    background-color: #fff !important;
    border: 0.5px solid #27B5A9 !important;
  }